@font-face {
  font-family: "Avenir-regular";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir-demi";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir-bold";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Avenir-regular";
}

input,
button {
  border: none;
}

.header {
  padding-top: 1rem;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    padding: 1.5rem 3rem;
    justify-content: flex-start;
    gap: 2rem;
  }
}
.header__nav {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header__nav {
    width: 250px;
    padding: 0 2rem;
  }
}
.header__list {
  padding-top: 1rem;
  list-style: none;
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 768px) {
  .header__list {
    gap: 2rem;
    padding: 0;
  }
}
.header__list-item--active {
  display: inline-block;
  width: 50%;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 2px solid #ffffff;
  font-family: "Avenir-bold";
}
@media screen and (min-width: 768px) {
  .header__list-item--active {
    border: 0;
    padding: 0;
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-decoration-thickness: 2.5px;
    text-underline-offset: 1.7rem;
  }
}
@media screen and (min-width: 768px) {
  .header__list-item--active:hover, .header__list-item--active:focus {
    border-bottom: none;
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-decoration-thickness: 2.5px;
    text-underline-offset: 1.7rem;
  }
}
.header__list-item {
  display: inline-block;
  width: 50%;
  text-align: center;
}
.header__list-item:hover, .header__list-item:focus {
  border-bottom: 2px solid #ffffff;
}
@media screen and (min-width: 768px) {
  .header__list-item:hover, .header__list-item:focus {
    border-bottom: none;
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-decoration-thickness: 2.5px;
    text-underline-offset: 1.7rem;
  }
}
.header a:link {
  color: #e1e1e1;
  text-decoration: none;
}
.header a:visited {
  color: #e1e1e1;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/Photo-gallery-3.jpg);
  width: 100%;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 70vh;
    font-size: 40px;
  }
}
.hero__title-container {
  width: 100%;
  position: absolute;
  color: #ffffff;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .hero__title-container {
    padding: 3rem;
  }
}
.hero__sound {
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .hero__sound {
    width: 50%;
  }
}
.hero__subtitle {
  padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .show__list-wrapper {
    padding-bottom: 2rem;
  }
}
.show__title {
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .show__title {
    padding: 1rem 3rem;
  }
}
.show__card-container {
  border-bottom: 1px solid #afafaf;
}
@media screen and (min-width: 768px) {
  .show__card-container {
    margin: 0 1rem;
  }
}
.show__card {
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .show__card {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.show__date-header, .show__venue-header, .show__location-header {
  font-family: "Avenir-demi";
  font-size: 13px;
  color: #afafaf;
}
@media screen and (min-width: 768px) {
  .show__date-header, .show__venue-header, .show__location-header {
    display: none;
  }
}
.show__date {
  padding-bottom: 1rem;
  font-family: "Avenir-demi";
  font-size: 17px;
}
@media screen and (min-width: 768px) {
  .show__date {
    width: 147px;
    padding: 0;
  }
}
.show__venue, .show__location {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .show__venue, .show__location {
    width: 147px;
    padding: 0;
  }
}
.show__hedaer-tablet-container {
  display: flex;
  padding: 0 3rem;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .show__header-tablet {
    padding-bottom: 1rem;
    font-family: "Avenir-demi";
    font-size: 13px;
    color: #afafaf;
    width: 147px;
    padding: 0;
  }
}
.show__button {
  width: 100%;
  background-color: #323232;
  color: white;
  padding: 1rem;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .show__button {
    width: 147px;
  }
}

.footer {
  background-color: #323232;
  padding: 1rem;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .footer {
    position: relative;
  }
}
.footer__title {
  width: 250px;
}
@media screen and (min-width: 768px) {
  .footer__title-wrapper {
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
  }
}
.footer__social-container {
  padding: 1rem 0;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .footer__social-container {
    padding: 0;
    width: 250px;
    height: 50%;
  }
}
@media screen and (min-width: 768px) {
  .footer__info-wrapper {
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
  }
}
.footer__info {
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .footer__info {
    width: 250px;
  }
}
.footer__info-name {
  padding-bottom: 1rem;
  font-family: "Avenir-demi";
}
.footer__info-address {
  padding-bottom: 1rem;
  font-weight: 400;
}
.footer__logo-container {
  padding: 2rem 0 1rem;
}
@media screen and (min-width: 768px) {
  .footer__logo-container {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem 3rem 0 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    padding: 0 2rem;
  }
}/*# sourceMappingURL=show.css.map */