@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/fonts" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Avenir-regular";
}

input,
button {
    border: none;
}

.header {
    padding-top: 1rem;
    background-color: $bandsite-black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet {
        flex-direction: row;
        padding: 1.5rem 3rem;
        justify-content: flex-start;
        gap: 2rem;
    }

    &__nav {
        width: 100%;

        @include tablet {
            width: 250px;
            padding: 0 2rem;
        }
    }

    &__list {
        padding-top: 1rem;
        list-style: none;
        display: flex;
        flex-direction: row;

        @include tablet {
            gap: 2rem;
            padding: 0;
        }
    }

    &__list-item--active {
        display: inline-block;
        width: 50%;
        text-align: center;
        padding-bottom: 1rem;
        border-bottom: 2px solid $white;
        font-family: "Avenir-bold";

        @include tablet {
            border: 0;
            padding: 0;
            text-decoration: underline;
            text-decoration-color: $white;
            text-decoration-thickness: 2.5px;
            text-underline-offset: 1.7rem;
        }

        &:hover,
        &:focus {
            @include tablet {
                border-bottom: none;
                text-decoration: underline;
                text-decoration-color: $white;
                text-decoration-thickness: 2.5px;
                text-underline-offset: 1.7rem;
            }
        }
    }

    &__list-item {
        display: inline-block;
        width: 50%;
        text-align: center;

        &:hover,
        &:focus {
            border-bottom: 2px solid $white;

            @include tablet {
                border-bottom: none;
                text-decoration: underline;
                text-decoration-color: $white;
                text-decoration-thickness: 2.5px;
                text-underline-offset: 1.7rem;
            }
        }
    }
    a {
        &:link {
            color: $mercury;
            text-decoration: none;
        }

        &:visited {
            color: $mercury;
        }
    }
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/Photo-gallery-3.jpg);
    width: 100%;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    // font-family: "Avenir-bold";

    @include tablet {
        height: 70vh;
        font-size: 40px;
    }

    &__title-container {
        width: 100%;
        position: absolute;
        color: $white;
        padding: 2rem 1rem;
        // top: 50%;
        // left: 1rem;
        // transform: translate(0, -50%);
        display: flex;
        flex-direction: column;

        @include tablet {
            padding: 3rem;
        }
    }

    &__sound {
        padding-top: 1rem;
        @include tablet {
            width: 50%;
        }
    }
    &__subtitle {
        padding-bottom: 1rem;
    }
}
.show {
    &__list-wrapper {
        @include tablet {
            padding-bottom: 2rem;
        }
    }
    &__title {
        padding: 1rem;

        @include tablet {
            padding: 1rem 3rem;
        }
    }
    &__card-container {
        border-bottom: 1px solid $silver;

        @include tablet {
            margin: 0 1rem;
        }
    }

    &__card {
        padding: 1rem;

        @include tablet {
            padding: 1rem 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__date-header,
    &__venue-header,
    &__location-header {
        font-family: "Avenir-demi";
        font-size: 13px;
        color: $silver;
        // padding-bottom: 1rem;

        @include tablet {
            display: none;
        }
    }
    &__date {
        padding-bottom: 1rem;
        font-family: "Avenir-demi";
        font-size: 17px;

        @include tablet {
            width: 147px;
            padding: 0;
        }
    }
    &__venue,
    &__location {
        padding-bottom: 1rem;
        @include tablet {
            width: 147px;
            padding: 0;
        }
    }
    &__hedaer-tablet-container {
        display: flex;
        padding: 0 3rem;
        justify-content: space-between;
    }
    &__header-tablet {
        @include tablet {
            padding-bottom: 1rem;
            font-family: "Avenir-demi";
            font-size: 13px;
            color: $silver;
            width: 147px;
            padding: 0;
        }
    }

    &__button {
        width: 100%;
        background-color: $bandsite-black;
        color: white;
        padding: 1rem;
        border-radius: 5px;

        @include tablet {
            width: 147px;
        }
    }
}

.footer {
    background-color: $bandsite-black;
    padding: 1rem;
    color: $white;

    @include tablet {
        position: relative;
    }

    &__title {
        width: 250px;
        // font-size: 40px;
    }

    &__title-wrapper {
        @include tablet {
            padding: 0 2rem;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 2rem;
            align-items: center;
        }
    }

    &__social-container {
        padding: 1rem 0;
        display: flex;
        justify-content: flex-start;
        gap: 2rem;

        @include tablet {
            padding: 0;
            width: 250px;
            height: 50%;
        }
    }

    &__info-wrapper {
        @include tablet {
            padding: 0 2rem;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 2rem;
        }
    }

    &__info {
        padding: 1rem 0;

        @include tablet {
            width: 250px;
        }
        &-name {
            padding-bottom: 1rem;
            font-family: "Avenir-demi";
        }
        &-address {
            padding-bottom: 1rem;
            font-weight: 400;
        }
    }

    &__logo-container {
        padding: 2rem 0 1rem;

        @include tablet {
            display: flex;
            position: absolute;
            top: 0;
            right: 0;
            padding: 1rem 3rem 0 0;
        }
    }

    &__copyright {
        @include tablet {
            padding: 0 2rem;
        }
    }
}
